---
***Question 1***
---
---
Consider the following Python module, After importing the module into the interpreter, you execute following things...

What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [ ]:
a = 0
def b():
  global a
  a = c(a)
def c(a):
  return a + 2

In [ ]:
b()
b()
b()
a

6

Here,
1. **a = 0**: 0 value is assigned to the variable 'a'.
2. **def b()**: this line define the function named 'b'.
3. **global a**: In the function named b there is global variable 'a' , here 'a' is taken as global beacuse it is declared outside the scope of class.
4. **a = c(a)**: function 'c' is called with variable 'a' and again passed as a, so in this case initially function 'c' will take the current value of a which is declared as and again assigned as 'a'.
5. **def c(a)**: function 'c' is defined as a function which takes the value 'a'.
6. **return a+2**: This will return the value of a incremented with 2.

so, inital value of a is 0 and it is declared global in function b. In c(a) functon 'c' is will call original value of a which is 0 but the the return value of 'c(a)' is 'a+2' therefore the value of a becomes 2 and again assigned to 'a'

but, when 'b' is called second time 'a' is updated and now it becomes 4.
similarly when is called third time 'a' is updated again and it will be 6.

so when 'a' is called, it will display its current value , which in this case will be **6**.

---
***Question 2***
---
---
Function fileLength(), given to you, takes the name of a file as input and return the length of the file:

As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:

In [21]:
def fileLength(file_name):
    try:
        with open(file_name, 'r') as file:
            contents = file.read()
            length = len(contents)
            return length
    except FileNotFoundError:
        return "File " + file_name + " not found"

length = fileLength('loren_lpsum.txt')
print(length)

3666

In [22]:
length = fileLength('ioren_ipsum.txt')
print(length)

File ioren_ipsum.txt not found

---
***Question 3***
---
---

Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the y-
axis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [33]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return "I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [34]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

['doll', 'firetruck', 'kitten']

In [35]:
k = Kangaroo(0, 0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates ({self.x},{self.y})
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates ({self.x},{self.y})

---
Question 4
---
---
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:

x =  𝑥/2  ,𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛

x = 3𝑥 + 1 ,𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑

Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.

In [29]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [30]:
collatz(1)

1

In [31]:
collatz(10)

10
5
16
8
4
2
1

In [32]:
collatz(11)

11
34
17
52
26
13
40
20
10
5
16
8
4
2
1

---
Question 5
---
---
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0

>>> binary(1)
1

>>> binary(3)
11

>>> binary(9)
1001

In [47]:
def binary(n):
    if n == 0:
        return n
    binary(n // 2)
    print(n % 2, end='')

In [48]:
binary(0)

0

In [49]:
binary(1)

1

In [50]:
binary(3)

11

In [51]:
binary(9)

1001

In [52]:
binary(567)

1000110111

---
***Question 6***
---
---
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.

In [72]:
from html.parser import HTMLParser


class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.indentation = 0

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h'):
            try:
                self.indentation = int(tag[1:]) - 1
            except ValueError:
                # Ignore if the tag does not have a numeric value
                pass

    def handle_endtag(self, tag):
        if tag.startswith('h'):
            self.indentation = 0

    def handle_data(self, data):
        if data.strip() and self.indentation >= 0:
            print('  ' * self.indentation + data.strip())


# Test the implementation
with open('w3c.html', 'r') as file:
    html_data = file.read()

parser = HeadingParser()
parser.feed(html_data)

Change_me
W3C Mission
  Principles

---
***Question 7***
---
---
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.

In [130]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent=0):
    if depth <0: #If depth is 0, terminate the recursion as there is no depth.
        return

    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')

    print(' ' * indent + url)
    if depth == 0:
        return
    links = soup.find_all('a')
    for link in links:
        href = link.get('href')
        if href and not href.startswith('http'):
            href = url + href.strip('/')
        webdir(href, depth - 1, indent + 1)

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/lecture1/', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/lecture1/
 http://reed.cs.depaul.edu/lperkovic/csc242/lecture1/Ch7.pptx
 http://reed.cs.depaul.edu/lperkovic/csc242/lecture1/caseStudy6/blackjack.py
 http://reed.cs.depaul.edu/lperkovic/csc242/lecture1/emoticon.py
 http://reed.cs.depaul.edu/lperkovic/csc242/lecture1/chapter7.zip

---
***Question 8***
---
---
Write SQL queries on the below database table that return:

a) All the temperature data.

b) All the cities, but without repetition.

c) All the records for India.

d) All the Fall records.

e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.

f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.

g) The total annual rainfall for Cairo.

h) The total rainfall for each season.

In [99]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('temp_data.db')
cursor = conn.cursor()

# Create the temperature_data table
cursor.execute('''CREATE TABLE temp_data (
                    City TEXT,
                    Country TEXT,
                    Season TEXT,
                    Temperature FLOAT,
                    Rainfall FLOAT
                )''')

# Commit the changes and close the connection
conn.commit()

OperationalError: ignored

In [100]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('temp_data1.db')
cursor = conn.cursor()

# Insert data into the temperature_data table
temp_data = [
   ("Mumbai","India","Winter",24.8,5.9),
   ("Mumbai","India","Spring",28.4,16.2),
   ("Mumbai","India","Summer",27.9,1549.4),
   ("Mumbai","India","Fall",27.6,346),
   ("London","United Kingdom","Winter",4.2,207.7),
   ("London","United Kingdom","Spring",8.3,169.6),
   ("London","United Kingdom","Summer",15.7,157),
   ("London","United Kingdom","Fall",10.4,218.5),
   ("Cairo","Egypt","Winter",13.6,16.5),
   ("Cairo","Egypt","Spring",20.7,6.5),
   ("Cairo","Egypt","Summer",27.7,0.1),
   ("Cairo","Egypt","Fall",22.2,4.5)
]

cursor.executemany('INSERT INTO temp_data VALUES (?, ?,?,?,?)', temp_data)

# Commit the changes and close the connection
conn.commit()

In [101]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('temp_data.db')
cursor = conn.cursor()

# Execute the query
cursor.execute("SELECT * FROM temp_data")

# Fetch all the rows
temp_data = cursor.fetchall()

# Print the temperature data
print("All the temperature data")
print(" ")
for row in temp_data:
    print(row)

#conn.close()

All the temperature data

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [106]:
# b) All the cities, but without repetition
cursor.execute("SELECT DISTINCT City FROM temp_data")
cities = cursor.fetchall()
print("\nCities:")
for city in cities:
    print(city[0])

Cities:
Mumbai
London
Cairo

In [107]:
# c) All the records for India
cursor.execute("SELECT * FROM temp_data WHERE Country = 'India'")
india_records = cursor.fetchall()
print("\nRecords for India:")
for record in india_records:
    print(record)

Records for India:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [108]:
# d) All the Fall records
cursor.execute("SELECT * FROM temp_data WHERE Season = 'Fall'")
fall_records = cursor.fetchall()
print("\nFall Records:")
for record in fall_records:
    print(record)

Fall Records:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [112]:
# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters
cursor.execute("SELECT City, Country, Season, Temperature FROM temp_data WHERE Rainfall BETWEEN 200 AND 400")
rainfall_records = cursor.fetchall()
print("\nRainfall Records (200-400mm):")
for record in rainfall_records:
    print(record)

Rainfall Records (200-400mm):
('Mumbai', 'India', 'Fall', 27.6)
('London', 'United Kingdom', 'Winter', 4.2)
('London', 'United Kingdom', 'Fall', 10.4)
('Mumbai', 'India', 'Fall', 27.6)
('London', 'United Kingdom', 'Winter', 4.2)
('London', 'United Kingdom', 'Fall', 10.4)

In [113]:
# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
cursor.execute("SELECT City, Country FROM temp_data WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature ASC")
temperature_above_20 = cursor.fetchall()
print("\nCities with Average Fall Temperature > 20:")
for record in temperature_above_20:
    print(record)

Cities with Average Fall Temperature > 20:
('Cairo', 'Egypt')
('Cairo', 'Egypt')
('Mumbai', 'India')
('Mumbai', 'India')

In [114]:
# g) The total annual rainfall for Cairo
cursor.execute("SELECT SUM(Rainfall) AS TotalRainfall FROM temp_data WHERE City = 'Cairo'")
total_rainfall_cairo = cursor.fetchone()[0]
print("\nTotal Annual Rainfall for Cairo:", total_rainfall_cairo)

Total Annual Rainfall for Cairo: 55.2

In [115]:
# h) The total rainfall for each season
cursor.execute("SELECT Season, SUM(Rainfall) AS TotalRainfall FROM temp_data GROUP BY Season")
total_rainfall_seasons = cursor.fetchall()
print("\nTotal Rainfall for Each Season:")
for record in total_rainfall_seasons:
    print(record)

Total Rainfall for Each Season:
('Fall', 1138.0)
('Spring', 384.59999999999997)
('Summer', 3413.0)
('Winter', 460.2)

In [116]:
cursor.close()
conn.close()

---
Question 9
---
---

Suppose list words is defined as follows:

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following

lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [126]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy','dog']

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [125]:
words_upper = [word.upper() for word in words]
words_upper

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [124]:
words_lower = [word.lower() for word in words]
words_lower

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

In [123]:
word_lengths = [len(word) for word in words]
word_lengths

[3, 5, 5, 3, 5, 4, 3, 4, 3]

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

In [122]:
word_info = [[word.upper(), word.lower(), len(word)] for word in words]
word_info

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [121]:
words_4_or_more = [word for word in words if len(word) >= 4]
words_4_or_more

['quick', 'brown', 'jumps', 'over', 'lazy']